h2{
    background-color: orange;
    position: relative;
    left: 20px;
}
h3{
    background-color: aqua;
    /* position: fixed; */
}
h4{
    background-color: blueviolet;
    position: sticky;
    top: 10px;
} 
p{
    background-color: brown;
    position: absolute;
}