h1{
    background-color: orange;
    height: 300px;
    width: 300px;
    border: 4px dashed rgb(37, 52, 31);
    padding: 10px;
    margin: 10px;
}
h2{
    background-color: pink;
    border:2px solid blueviolet ;
}